.titulo{
    color: blue;
    width: 350px;
    height: 50px;
    background-color: violet;
}
 label{
    background-color: rgb(26, 195, 218);
    width: 70px;
    height: 30px;
}

 input{
    background-color: yellow;
    width: 15px;
    height: 10px;
    }
 button{
    background-color: rgb(190, 21, 212);
    width: 120px;
    height: 50px;
}

#seleccionar-mascota{
    display:flex;
     justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100vh;  
}
 
.tarjeta-de-mokepon{
    width: 100px;
    height: 100px;
    background: aquamarine;
    padding: 10px;
    box-sizing: border-box;
}